.bios {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    width: 95%;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 49%;
    padding-bottom: 20px;
}

#rascal {
    width: 100%;
}

.bio img {
    height: 495px;
    width: 330px;
    padding-bottom: 10px;
}

.profile-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-section{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

#center{
    text-align: center;
}

.statements {
    display: flex;
    flex-wrap: wrap;
}

.statements img{
    display: none;
}

.center-mission{
    color: white;
}

.statement {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.statement-header {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1500px) {
    .bios {
        display: flex;
        flex-wrap: wrap;
    }
    .bio {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .slogan-img img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .bio-text {
        font-size: small;
    }
}

@media only screen and (max-width: 700px) {
    .bio {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .bio img {
        width: 280px;
        height: 420px;
    }

    .about-section {
        width: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .slogan-img img {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    #rascal-pic{
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .bio-text {
    text-align: center;
    }
}