.bios {
    display: flex;
    justify-content: space-around;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 45%;
}

.bio img {
    border-radius: 10px;
    height: 495px;
    width: 330px;
}

.profile-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}


@media only screen and (max-width: 1500px) {
    .bios {
        display: flex;
        flex-wrap: wrap;
    }
    .bio {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .slogan-img img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 700px) {
    .bio {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .bio img {
        width: 150px;
    }

    .about-section {
        width: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .slogan-img img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}