body{
    background-color: black;
}

#nav-large {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

#nav-small{
    height: 70px;
    background-color: black;
    display: none;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.slogan {
    background-color: black;
    color: white;
    font-size: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#slogan {
    width: 75%;
    padding-top: 10px;
    border: 0.5px solid white;
    border-radius: 5px;
}

.navbar {
    background-color: black !important;
}

#cards {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.card-text {
    color: white ;
    width: 75%;
    height:200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding-top: 15%;
    padding-bottom: 30%;
}

.card-text h3 {
    font-size: 150%;
}

.card-text h3:hover {
    font-size:200%;
    
}

#cards p{
    color: white !important;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.3%;
    position: relative;
    text-align: center;
}

.card-info img {
    width: 100%;
    opacity: 0.5;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#lets-talk {
    font-size:small;
}

.footer-card {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.legal {
    background-color: black;
    color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: small;
    padding-left: 10%;
    padding-right: 10%;
}

/* Link styling*/

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }


  /* Media Queries*/

  @media only screen and (max-width: 700px) {
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        text-align: center;
    }
    
    #nav-large {
        display: none;
    }
    
    #nav-small{
        height: 70px;
        display: flex;
        flex-direction: column;
    }
    .link-light {
        display: none !important;
    }
    .footer-card {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #contact div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contact div h4 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .slogan {
        font-size: 80%;
    }
  }