#nav {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

.slogan {
    background-color: black;
    color: white;
    font-size: 140%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#slogan {
    width: 75%;
    padding-top: 10px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.navbar {
    background-color: black !important;
}

#cards {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.card-text {
    color: white !important;
    width: 75%;
    height: min-content;
    position: absolute;
    top: 10pc;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.card-text h3 {
    font-size: 150%;
}

.card-text h3:hover {
    font-size:200%;
}

#cards p{
    color: white !important;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.3%;
    position: relative;
    text-align: center;
}

.card-info img {
    width: 100%;
    opacity: 0.5;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
}

.footer-card {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
/* Link styling*/

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }


  /* Media Queries*/

  @media only screen and (max-width: 700px) {
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        text-align: center;
    }
    
    #nav {
        height: 70px;
        display: flex;
        flex-direction: column;
    }
    .link-light {
        display: none !important;
    }
  }